.main{
	 border: 2px solid green;
	  margin: 2%;
	  padding: 2%;
 }	
a{
	word-wrap: break-word;
}
.main{
	display:flex;
	flex-direction: row;
}
 .left
 {
 	border: 2px solid red;
 	padding: 2%;
 	margin: 2%;
 	border-radius: 10%;
 	text-align: center;
 	width: 30%;
 }
  .right{
  	width: 60%;
  	border-radius:7%;
  }
  .left img{ 
  width: 30%;
   padding: 2%;
  margin: 2%;
  border-radius: 50% 
  border: 5px solid red;
  box-shadow: 12px 20px 18px black; }
  .right{
 	border: 2px solid orange;
 	padding: 2%;
 	margin: 2%;
 }
 #number{
 	color: brown;
 	font-size: 40px;
 }
 p{
 	color:green;
 	font-size: 50px;
 }
 @media only screen and (min-width:320px) and (max-width:480px){
.main{
        border: 2px solid green;
		margin: 2%;
    	padding: 2%;
	 }
	a{
	word-wrap: break-word;
     }
.main{
	  display:flex;
	  flex-direction: column;
     }
 .left
    {
 	 border: 2px solid red;
 	 padding: 2%;
 	 margin: 2%;
 	 border-radius: 10%;
 	 text-align: center;
 	 width: 80%;
    }
  .right
  {
  	width: 90%;
  	border-radius:10%;
  	background-color:skyblue;
  }
  .left img
  {  
  width: 90%;
   padding: 2%;
  margin: 2%;
  border-radius: 50% ;
  border: 5px solid red;
  box-shadow: 12px 20px 18px black;
}
  .right{
 	border: 2px solid orange;
 	padding: 2%;
 	margin: 2%;
 }
 #number{
 	color: brown;
 	font-size: 40px;
 }
 p{
 	color:green;
 	font-size: 50px;
 }
.table1{
	width:90%;
	overflow-x: auto;
}
@media only screen and (min-width:481px) and (max-width:769px){
    .main{
          border: 2px solid green;
		  margin: 2%;
		  padding: 2%;
		}
	a{
	word-wrap: break-word;
     }
.main{
	  display:flex;
	  flex-direction: row;
     }
 .left
    {
 	 border: 2px solid red;
 	 padding: 2%;
 	 margin: 2%;
 	 border-radius: 10%;
 	 text-align: center;
 	 width: 80%;
 	 background-color: orange;
    }
  .right
  {
  	width: 90%;
  	border-radius:10%;
  	background-color:pink;
  }
  .left img
  {  
  width: 20%;
   padding: 2%;
  margin: 2%;
  border-radius: 50% ;
  border: 5px solid red;
  box-shadow: 12px 20px 18px black;
  background-color: green;
}
  .right{
 	border: 2px solid orange;
 	padding: 2%;
 	margin: 2%;
 }
 #number{
 	color: brown;
 	font-size: 40px;
 }
 p{
 	color:green;
 	front-size: 50px;
 }
.table1{
  width:90;
	overflow-x: auto;
}
}
@media only screen and (min-width:770px) and (max-width:1024px){
    .main{
          border: 2px solid green;
		  margin: 2%;
		  padding: 2%;
		}
	a{
	word-wrap: break-word;
     }
.main{
	  display:flex;
	  flex-direction: row;
     }
 .left
    {
 	 border: 2px solid red;
 	 padding: 2%;
 	 margin: 2%;
 	 border-radius: 10%;
 	 text-align: left;
 	 width: 80%;
 	 background-color: orange;
    }
  .right
  {
  	width: 90%;
  	border-radius:10%;
  	background-color:pink;
  }
  .left img
  {  
  width: 20%;
   padding: 2%;
  margin: 2%;
  border-radius: 50% ;
  border: 5px solid red;
  box-shadow: 12px 20px 18px black;
  background-color: orange;
}
  .right{
 	border: 2px solid red;
 	padding: 2%;
 	margin: 2%;
 }
 #number{
 	color: brown;
 	font-size: 40px;
 }
 p{
 	color:green;
 	font-size: 50px;
 }
.table1{
	width:90%;
	overflow-x: auto;
}
}

